@model SQLTeacher.Models.Exercises

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DbScript)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DbScript)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a> |
    <a asp-action="Index">Retour vers la liste</a>
</div>
