@model SQLTeacher.Models.Queries

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Queries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Statement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Formulation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Formulation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise.DbScript)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
